<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SkyReg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="DLModelContainer" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql2.webio.pl,2401;initial catalog=edo_skyreg;user id=edo_skyreg;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="DLModelContainer" connectionString="metadata=res://*/DLModel.csdl|res://*/DLModel.ssdl|res://*/DLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql2.webio.pl,2401;initial catalog=edo_skyreg;user id=edo_skyreg;Password=0okm)OKM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DLModelContainer" connectionString="metadata=res://*/DLModel.csdl|res://*/DLModel.ssdl|res://*/DLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G-KOMPUTER\SQLEXPRESS;initial catalog=SkyRegDB;persist security info=True;user id=sa;password=0okm)OKM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DLModelContainer" connectionString="metadata=res://*/DLModel.csdl|res://*/DLModel.ssdl|res://*/DLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STACJONARNY\SE2016;initial catalog=SkyRegDB;persist security info=True;user id=sa;password=0okm)OKM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <SkyReg.Properties.Settings>
      <setting name="ExpDate" serializeAs="String">
        <value>2017-07-31</value>
      </setting>
    </SkyReg.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
